.main {
  padding: 10px;
  border-radius: 4px;

  &__header {
    &--label {
      p {
        font-size: 14px;
      }
    }
    &--action {
      &-zoom {
        background-color: #d5d1d1ed;
        cursor: pointer;
        margin-right: 10px;
      }
      &-close {
        background-color: #d73737ed;
        color: white;
        cursor: pointer;
      }
    }
  }
  &__menu {
    height: 50px;
    a {
      color: rgb(31, 29, 29) !important;
      font-size: 15px;
      letter-spacing: 0px;
      &:after {
        border: none;
      }
      &:hover {
        background-color: rgb(225, 225, 225) !important;
      }
    }
    &--template {
      label.Mui-focused {
        top: 10px !important;
      }
      .Mui-focused {
        color: black !important;
      }
      fieldset {
        height: 40px;
        top: 5px;
      }
      .MuiOutlinedInput-notchedOutline {
        border-color: black !important;
      }
      ul {
        padding: 0 !important;
      }
    }
  }
}

.dropdown-menu {
  padding: 0 !important;
  border-radius: 0 !important;
  .dropdown-item {
    font-size: 13px !important;
  }
}

.MuiList-root {
  padding: 0 !important;
}

.MuiMenuItem-root {
  font-size: 13px !important;
}
