.tree-view-com {
  background-color: #e9e9e9;
  height: 100vh;
  position: relative;
  bottom: 0;
  overflow: auto;
  top: 60px;
  padding-top: 20px;
}

.tree-view-com-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: 1px solid #040404;
  border-radius: 2px;
  z-index: 10;
  & > svg {
    width: 30px;
    height: 30px;
  }
}

.tree-view-parent {
  padding-left: 10px;
}

.tree-view-com ul li {
  position: relative;
}

.tree-view-com ul li p {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
}

.file {
  color: #646161;
  margin-right: 5px;
}

.document-title {
  color: black;
}

.folder {
  color: #efc426;
  margin-right: 5px;
}

.close__menu {
  border: 1px solid black;
  width: 30px !important;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 12px;
  left: 10px;
  cursor: pointer;
  z-index: 13;
}
