.tree-view-com {
  background-color: rgb(233, 233, 233);
  padding: 15px 0 50px 0;
  position: fixed;
  overflow: auto;
  height: 100vh;
  left: 0;
  width: 370px;
}

.tree-view-com-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: 1px solid #040404;
  border-radius: 2px;
  z-index: 10;
  & > svg {
    width: 30px;
    height: 30px;
  }
}

.tree-view-parent {
  padding-left: 10px;
}

.tree-view-com ul li {
  position: relative;
  list-style: none;
}

.tree-view-com ul li .category__root {
  display: flex;
  font-size: 14px;
  cursor: pointer;
}

.tree-view-com ul li a {
  text-decoration: none;
  display: flex;
  font-size: 14px;
}

.tree-view-com ul li p {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.tree-view-com .tree-view-parent > li > a {
  display: flex;
}

.tree-view-com .tree-view-child > li {
  padding-bottom: 5px;
}
.tree-view-com .tree-view-child > li:last-of-type {
  padding-bottom: 0px;
}

.tree-view-com ul li a .c-icon {
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.tree-view-com ul > li > ul {
  margin: 5px 0px;
  position: relative;
  left: -4px;
}
.tree-view-com > ul > li:before {
  content: "";
  border-left: 1px dashed #ccc;
  position: absolute;
  height: calc(100% - 30px - 5px);
  z-index: 1;
  left: 8px;
  top: 30px;
}
.tree-view-com > ul > li > ul > li:before {
  content: "";
  border-top: 1px dashed #ccc;
  position: absolute;
  width: 25px;
  left: -32px;
  top: 12px;
}

.file {
  color: #646161;
  margin-right: 5px;
}

.tree-view-parent .tree-view-child .tree-view-child .document-title {
  color: black;
}

.tree-view-parent .tree-view-child .document-title {
  color: black;
}

.folder {
  color: #efc426;
  margin-right: 5px;
}
